{{define "html/index.html"}}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Links</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/fontello.css" rel="stylesheet"> 
    <link rel="shortcut icon" href="../css/favicon.ico" type="image/x-icon">
  </head>
<body class="bg-color-gr">

<header class="border-bottom bg-dark sticky-top">
  <div class="container py-3 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-2">
      <div class="d-flex align-items-center justify-content-center text-white">
        <i class="icon-emo-sunglasses"></i>
      </div>
      <div class="text-header">
        <h1 class="h6 mb-0 text-white">My links</h1>
        <p class="small text-white mb-0">Bookmark collection</p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-grow-1 mx-5">
        <div class="input-group">
            <input type="text" class="form-control bg-dark text-white border-0" placeholder="Поиск по названию" aria-label="Search">
        </div>
</div>
    <span class="badge text-bg-secondary" id="linksCount">3 ссылок</span>
  </div>
</header>
<!--endheader-->
<div class="container">
        <div class="row">
            <div class="col-md-7 mt-5">
                <ul class="list-group shadow-sm custom-scroll-list"> 
                    
                <li class="list-group-item mb-2 bg-dark d-flex justify-content-between align-items-start">
                    <div class="flex-grow-1">
                        <h6 class="mb-1 text-white">Google</h6>
                        <p class="mb-1"><a href="https://google.com/" class="link-text text-decoration-none">https://google.com/</a></p>
                        <p class="link-text mb-0">Браузер</p>
                        <p class="link-text mb-0">#searchinfo</p>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-link p-0 text-warning text-decoration-none" title="Изменить">
                            <i class="bi bi-pencil-square fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-link p-0 text-danger text-decoration-none" title="Удалить">
                            <i class="bi bi-trash3 fs-5"></i>
                        </button>
                    </div>
                </li>
                </ul>
          </div>
          <div class="col-md-5 mt-5">
                <div class="card shadow-sm border-0 bg-dark">
                    <div class="card-body p-4">
                        <h4 class="card-title mb-4 text-white">Добавление ссылки</h4>
              <!-- ФОРМА -->
         <form id="linkForm" hx-post="/links/" novalidate> 
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label text-white">Название</label>
                            <input type="text" name="title" class="form-control bg-dark text-white" id="inputTitle" placeholder="Введите название" required>
                            <div class="invalid-feedback text-danger small mt-1">
                                Пожалуйста, введите название.
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="inputUrl" class="form-label text-white">Ссылка</label>
                            <input type="url" name="url" class="form-control bg-dark text-white" id="inputUrl" placeholder="https://example.com" required>
                            <div class="invalid-feedback text-danger small mt-1">
                                Введите корректный адрес ссылки.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputTags" class="form-label text-white">Тег</label>
                            <input class="form-control bg-dark text-white" name="tags" id="inputTags" placeholder="#example">
                        </div>  
                        <div class="mb-3">
                            <label for="inputDesc" class="form-label text-white">Описание</label>
                            <textarea class="form-control bg-dark text-white" name="desc" id="inputDesc" rows="3" placeholder="Краткое описание"></textarea>
                        </div>  
                        
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-50">Добавить</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>  
        <script>
            const form = document.getElementById('linkForm');

            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault(); 
                    event.stopPropagation(); 
                }

                form.classList.add('was-validated');
            });
        </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </div>
  </body>
</html>
{{end}}
